
#app {
    margin: 150px auto 0 auto;
    width: 1200px;
    background-color: lightgrey;
    padding: 25px;
    border-radius: 10px;
}

#app > * {
    margin-top: 20px;
}

#input__label {
    cursor: default;
    color: white;
    background-color: #198653;
}

.todo__label {
    margin-left: 10px;
}

.list__item {
    cursor: default;
    margin-top: 10px;
    font-size: 1.5rem;
    padding: .5rem;
    display: flex;
    border: 2px solid grey;
    border-radius: 5px;
    transition: .3s;
    opacity: .8;
}

.list__item:hover {
    opacity: 1;
}

.list__item i {
    display: flex;
    align-items: center;
}

.list__item i::before {
    cursor: pointer;
}

#btn__add {
    width: 15%;
}

